extends layout

block content

	div.hero-unit
		h2 Yes, I own linux. Show me on this page!
		p blablabla
		p 
			a.btn.btn-primary.btn-large(href="/login") Login 
			a.btn.btn-large(href="/signup") Sign Up
				
	div.row
		div.span4
			h2 HAHA 1
			p CONTENT OF HAHA1
				
		div.span4
			h2 HAHA 1
			p CONTENT OF HAHA1
				
		div.span4
			h2 HAHA 1
			p CONTENT OF HAHA1
	
