extends layout
block content
	if(!user)
		div.hero-unit
			h1 Hello, Ownlinux..
			p Microblog 是一个基于 Node.js 的微博系统。
			p
				a.btn.btn-primary.btn-large(href='/login') Login
				a.btn.btn-large(href='/signup') Signup
	else
		include post
