extends layout

block content
    form.form-horizontal(method="post")
        fieldset
            legend Please Login
            div.control-group
                label.control-label(for="username") Username
                div.controls
                    input#username.input-xlarge(name="username", type="text")
                    p.help-block Your username@ownlinux.net.
            div.control-group
                label.control-label(for="password") Password
                div.controls
                    input#password.input-xlarge(name="password", type="password")
                    p.help-block Your password.
            div.form-actions
                button.btn.btn-primary(type="submit") Login
